<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
<div class="summary">
    <p>
      An experienced PM with a unique background in blockchain technology, payments, and application tracking systems. Obsessed with efficiency and process as it applies in these areas. In lean manufacturing waiting is one of the seven wastes. The excessive waiting times in hiring processes and the transmittal of money are inviting disruption...all that’s missing is its uberization.
    </p>
</div><!--//summary-->
</section><!--//section-->
