<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
<div class="summary">
    <p>
      I have a keen interest in payments and recently launched the Bitcoin Bootcamp, a 2-day accelerated course designed to teach developers and technologists the Bitcoin protocol. Previously I was a PM at one of the best-funded Bitcoin startups where I conducted customer interviews, spearheaded an initiative to implement agile, managed user stories, prioritized bugs, and helped get stuff out the door.  I also helped develop the curriculum for CS251P - a 1-unit Bitcoin lab for Stanford engineering students.
      <br /><br />
      <i>“If you can't describe what you are doing as a process, you don't know what you're doing.”<i> - W. Edwards Deming
    </p>
</div><!--//summary-->
</section><!--//section-->
