 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Analytical Finance</h4>
    <h5 class="meta">University of St. Andrews</h5>
    <div class="time">2008 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Mechanical Engineering</h4>
    <h5 class="meta">University of Colorado at Boulder</h5>
    <div class="time">2003 - 2007</div>
</div><!--//item-->
</div><!--//education-container-->
