<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager</h3>
                            <div class="time">Jun 2015 - Jul 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">21 Inc</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Partner Operations Manager - Android Pay</h3>
                            <div class="time">Nov 2014 - Jun 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Process Design Analyst - People Operations</h3>
                            <div class="time">Aug 2012 - Nov 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My role was as a product owner on an agile development team. We were responsible for redesigning and integrating a production staffing application into our homebrewed applicant tracking system. This meant working closely with staffing teams, engineering, UX and management to set the product vision and guide product development.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Operations Analyst - Compensation</h3>
                            <div class="time">Mar 2010 - Aug 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed tools to automate and streamline operations for compensation and staffing teams. Led a cross-functional project with the treasury team to automate most of Google's equity granting process.</p>
                        <p>Used 20% time to design and develop a web application to manage and streamline Google's annual Flu Clinic.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
