<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager</h3>
                            <div class="time">Jun 2015 - Jul 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">21 Inc</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Led initiative to implement an agile development process in advance of our first product launch. Conducted extensive customer interviews to assess product market fit. Helped develop the curriculum for <a href="https://crypto.stanford.edu/cs251/cs251p.html">CS251P - a 1-unit Bitcoin lab</a> for Stanford engineering students taught by our CEO who previously taught at Stanford. <br /><b>TL;DR</b> Wearer of many hats.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Partner Operations Manager - Android Pay</h3>
                            <div class="time">Nov 2014 - Jun 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Joined the Android Pay team to gain payments experience before jumping into the bitcoin space. Worked on operations management side of go-to market strategy for Hands Free and retirement of Loyalty support from Google Wallet. Analyzed and reported on operational metrics for quarterly business review. Launched an internal 2-day course with three software engineers to teach the Bitcoin protocol to SWEs.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Process Design Analyst - People Operations</h3>
                            <div class="time">Aug 2012 - Nov 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Set the product vision and acted as product owner on an agile development team tasked with redesigning and integrating a new features into our homebrewed applicant tracking system. Responsible for writing user stories, sprint planning, release planning and daily syncs with our corp engineering team in the New York office. Given limited resources necessitated that we managed expectations with stakeholders.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Operations Analyst - Compensation</h3>
                            <div class="time">Mar 2010 - Aug 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed tools to automate and streamline operations for compensation and staffing teams. Led a cross-functional project with the treasury team to automate most of Google's equity granting process. Used 20% time to design and develop a Django app hosted on Google App Engine to manage and streamline Google's annual Flu Clinic.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
