<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager</h3>
                            <div class="time">Jun 2015 - Jul 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">21 Inc</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>21 Inc is one of the best-funded Bitcoin startups backed by Andreessen Horowitz, Khosla Ventures and Cisco among others. The initial mission of the company was to put “a bitcoin miner in every device and in every hand.” I joined while it was still in stealth mode and conducted extensive customer interviews to assess product market fit, led an agile initiative, managed user stories and validation criteria, release milestones, retrospectives and did whatever it took to push stuff out the door. I also helped develop the curriculum for <a href="https://crypto.stanford.edu/cs251/cs251p.html">CS251P - a 1-unit Bitcoin lab</a> for Stanford engineering students.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Partner Operations Manager - Android Pay</h3>
                            <div class="time">Nov 2014 - Jun 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Joined the Android Pay team to gain payments experience before jumping into the bitcoin space. Worked on operations management side of go-to market strategy for Hands Free and retirement of Loyalty support from Google Wallet. Analyzed and reported on operational metrics for quarterly business review. Launched an internal 2-day course with three software engineers to teach the Bitcoin protocol to SWEs.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Process Design Analyst - People Operations</h3>
                            <div class="time">Aug 2012 - Nov 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Product owner on Google’s internal applicant tracking system. Set the product vision for how our ATS would manage the hundreds of candidates receiving an offer each week through to being fully onboarded as an employee. Responsible for release planning, sprint planning, writing and prioritizing user stories, validation criteria, and daily standups with our CorpEng team in New York. Due to the number of teams impacted by changes to the system it was critical that we socialized new functionality with key stakeholders by performing dry runs in QA and canary environments before each release.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Operations Analyst - Compensation</h3>
                            <div class="time">Mar 2010 - Aug 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Google</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed tools to automate and streamline operations for compensation and staffing teams. Led a cross-functional project with the treasury team to automate most of Google's equity granting process. Used 20% time to design and develop a Django app hosted on Google App Engine to manage and streamline Google's annual Flu Clinic.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
