<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>A few things I'm working on.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://www.bitcoin-bootcamp.com">Bitcoin Bootcamp</a></span> -
                    <span class="project-tagline">An in-person 2-day accelerated introduction to the Bitcoin protocol and blockchain technology</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#">Proof of Clairvoyance</a></span> -
                    <span class="project-tagline">A method to commit to a prediction in the blockchain by publishing the root of a Merkle tree in a Bitcoin transaction. Leverages the use of Shamir's secret-sharing scheme, digital signatures and Merkle proofs to validate that subsequent revelations of each share of the prediction are provably part of the initial commitment.</span>
                </div><!--//item-->

</section><!--//section-->
