<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>A few things I'm working on.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://www.bitcoin-bootcamp.com">Bitcoin Bootcamp</a></span> -
                    <span class="project-tagline">An in-person 2-day accelerated introduction to the Bitcoin protocol and blockchain technology</span>
                </div><!--//item-->

</section><!--//section-->
